.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.section-heading {
  font-size: 54px;
  padding: 0 0 5vh 0;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stack-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 7px;
  background-color: #f4f4f9;
  padding: 5px;
}

.stack-item svg {
  width: auto;
  height: 65%;
  margin: 0 0 5px 0;
}

.stack-label {
  color: #2f4550;
  font-size: 14px;
  font-weight: 600;
}
