/* ====================LAYOUT STYLES==================== */

/* ==========MOBILE NAVBAR========== */
/* HIDE IF WIDTH > 900PX */
.nav-mobile {
  display: none;
}

/* ==========MAIN========== */
main {
  width: 87%;
  box-sizing: border-box;
}

/* ====================MEDIA QUERIES==================== */

@media (max-width: 900px) {
  /* ==========MOBILE NAVBAR========== */
  /* SHOW IF WIDTH < 900PX */
  .nav-mobile {
    display: block;
  }

  /* ==========MAIN========== */
  /* FULL WIDTH IF WIDTH < 900PX */
  main {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* ==========MAIN========== */
  /* REMOVE PADDING IF WIDTH < 480PX */
  main {
    padding: 0;
  }
}
