/* Background image sourced from Unsplash user Georgie Cobbs: https://unsplash.com/photos/bKjHgo_Lbpo */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 85vh;
  background-image: url("../../assets/images/background-georgie-cobbs-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 25vh 0;
  max-width: 725px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: start;
  color: #061f27;
}

.intro-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 2.5vh 0;
  font-size: 64px;
  font-weight: 500;
}

.intro-subheading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 739px) {
  .intro-text {
    width: 80%;
  }

  .intro-heading {
    font-size: 50px;
    font-weight: 500;
  }

  .intro-subheading {
    font-size: 30px;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .home {
    width: 100%;
    height: 100vh;
  }

  .intro-text {
    width: 80%;
  }

  .intro-heading {
    margin: 3vh 0;
    font-size: 30px;
    font-weight: 500;
  }

  .intro-subheading {
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-height: 825px) {
  .intro-text {
    background-color: #d8d7d154;
    padding: 0 20px;
    border-radius: 10px;
  }
}
